@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/Roboto-Regular.ttf') format('truetype')
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

h6 {
  font-size: 18px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

ul.tick-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.tick-list>li{
  padding-left: 40px;
  background: url(./../assets/check-circle-regular.svg) no-repeat left center;
  background-size: 19px 19px;
  line-height: 1.5;
}

@media (max-width: 640px) {
  #Home h1 {
    font-size: 48px;
  }
  #Home h2 {
    font-size: 24px;
    line-height: 1.5;
  }
}

@media (max-width: 767px) {
  .get-started-btn {
    display: block;
    width: 100%;
  }
}
#Home h1 {
  max-width: 650px;
}

#Home h2 {
  font-size: 24px;
  font-weight: 400;
  max-width: 420px;
  line-height: 1.5;
}
.txt-white,
.txt-white a {
  color: #fff;
}

.fs10 {
  font-size: 10px;
}

.fs16 {
  font-size: 16px;
}

.fs30 {
  font-size: 30px;
}

.fs40 {
  font-size: 40px;
}

.fs60 {
  font-size: 60px;
}

.fs80 {
  font-size: 80px;
}

.get-started-btn-header {
  text-align: left !important;
}

.font-header-menu {
  font-weight: 700;
  font-size: 16px;
}

.accordion-header {
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 0;
  padding-right: 25px;
}

.footer-logo {
  width: 227px;
  max-width: 100%;
}

/* backgrounds */
.content-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(236, 234, 236, 0.7);
}

.bg-HowItWorks {
  background-image: url("./../assets/How_it_works_Background.jpg");
  background-size: cover;
}

.bg-FAQ {
  background-image: url("./../assets/Frequently_Asked_Questions_Background.jpg");
  background-size: cover;
}

.bg-darkgrey {
  background-color: #1a1f21;
}

.bg-header {
  background: rgba(0, 0, 0, 0.6);
}

.bg-footer {
  background-color: #343a40;
}
/* end backgrounds*/

/* hiw*/
.hiw-step {
  width: 72px;
  height: 72px;
  background-color: #eceaec;
  padding: 9px 12px;
  text-align: left;
  position: relative;
}

.hiw-step:before {
  border-width: 0 4px 0 0;
  border-color: #eceaec;
  border-style: dashed;
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -68px;
}

.hiw-step:after {
  border-width: 8px 8px 0 8px;
  border-color: #eceaec transparent transparent;
  border-style: dashed;
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: -76px;
}

.hiw-step.last:before,
.hiw-step.last:after {
  content: none;
}
/* end hiws*/

.selectedHeaderMenu {
  background: rgba(0, 0, 0, 0.9);
}

.bg-gradient {
  background: -moz-linear-gradient(
    90deg,
    rgba(56, 239, 125, 1) 0%,
    rgba(17, 153, 142, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(56, 239, 125, 1) 0%,
    rgba(17, 153, 142, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(56, 239, 125, 1) 0%,
    rgba(17, 153, 142, 1) 100%
  );
}

.alt-bg-gradient {
  background: -moz-linear-gradient(
    90deg,
    rgb(56, 150, 239) 0%,
    rgb(6, 45, 82) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(56, 150, 239) 0%,
    rgb(6, 45, 82) 100%
  );
  background: linear-gradient(90deg, rgb(56, 150, 239) 0%, rgb(6, 45, 82) 100%);
}

.grad-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #eb7327;
}

.accordion-body {
  margin-top: 20px;
}

.accordion-box {
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.get-started-btn {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 60px 10px 60px;
  outline: 0;
  border: 0;
  background-size: 100% 1px;
  -webkit-transition: background 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: background 0.2s cubic-bezier(0, 0, 0.58, 1);
}

@font-face {
  font-family: "icofont";
  src: url("fonts/icofont.eot?fb67qv");
  src: url("fonts/icofont.eot?fb67qv#iefix") format("embedded-opentype"),
    url("fonts/icofont.ttf?fb67qv") format("truetype"),
    url("fonts/icofont.woff?fb67qv") format("woff"),
    url("fonts/icofont.svg?fb67qv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icofont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bill:before {
  content: "\eeba";
}

.icon-check:before {
  content: "\eed8";
}

.icon-lock:before {
  content: "\ef7a";
}

.icon-location:before {
  content: "\ef78";
}

.icon-light-bulb:before {
  content: "\ef6b";
}
.icon-look:before {
  content: "\ef7f";
}
.icon-license:before {
  content: "\ef66";
}
.icon-id:before {
  content: "\ef4a";
}

@media (max-width: 767px) {
  .fs80 {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
